.header-logo{
    
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px ;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
.header-logo-black{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px ;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}
.header-item{
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}
.list{
    list-style: none;
}